.contact-bg{
    height: 100vh;
    min-height: 500px;
    background-image: url('./images/contact-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.text-format {
    position: relative;
    margin-bottom: 25px;
}

.text-color-contact {
    color: white;
}

.form-margin {
    margin-top: 25px;
}

.padding-left {
    padding-left: 100px;
}

.padding-right {
    padding-right: 100px;
}

.form-style {
    background: none;
    border-bottom-color: #fcddd2;
    border-radius: 0;
    border-width: 1.5px;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    color: white !important;
}

.form-style:hover {
    border-top-color: #fcddd2;
    border-bottom-color: #fcddd2;
    border-left-color: #fcddd2;
    border-right-color: #fcddd2;
}

.form-control:focus {
    background-color: transparent;
}

::placeholder {
    color: rgb(201, 192, 192) !important;
}

.btn-outline-custom {
    color:  #fcddd2;
    border-color: #fcddd2;
}

.btn:hover {
    color:  black;
    background-color: #fcddd2;
    border-color: #fcddd2;
}

.form-control:focus {
    background-color: none;
    border-color:  #fcddd2;
}

@media (max-width: 800px) {
    .padding-left {
        padding-left: 15px;
    }
    .padding-right {
        padding-right: 15px;
    }
}